<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>与互惠生的问答访谈</title>
    <style type="text/css">
        body
        {
            margin: 0;
            padding: 0;
            background-color: #FAFAFA;
            font: 12pt "Tahoma";
        }
        *
        {
            box-sizing: border-box;
            -moz-box-sizing: border-box;
        }
        .page
        {
            width: 21cm;
            min-height: 29.7cm;
            padding: 2cm;
            margin: 1cm auto;
            border: 1px #f9f9f9 solid;
            border-radius: 5px;
            background: white;
            box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
            line-height: 34px;
            font-size: 20px;            
            text-indent: 50px;
        }
        .subpage
        {
            padding: 1cm;
            border: 5px #f9f9f9 solid;
            height: 256mm;
            outline: 2cm #f1f1f1 solid;
        }
        @page
        {
            size: A4;
            margin: 0;
        }
        @media print
        {
            .page
            {
                margin: 0;
                border: initial;
                border-radius: initial;
                width: initial;
                min-height: initial;
                box-shadow: initial;
                background: initial;
                page-break-after: always;

            }
        }
    </style>
</head>
<body>
    <div class="book">
        <div class="page">            
              <%= @t.content.html_safe%>            
        </div>
    </div>
</body>
</html>